body {
    background-image: url(./back2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    //margin: auto;
    width: auto; 
}