.blk{
    border: 3px solid white;
    width: min-content;
    height: min-content;
    border-radius: 1rem;
    background-color: white;
    box-shadow:  13px 13px 9px black, 
             -13px -13px 9px transparent;
}
